body {background-image: url(./Images/Space.jpeg);}
h1, p , h2{
    color: white;
    font-family: monospace;
    text-align: center;
}
a{
    color: tan;
    text-decoration: none;
}
a:hover{
    color: rgb(237, 193, 74);
    text-decoration: none;
}
a[class="buttonA"]{
    margin-top: 3.5px;
    font-family: monospace;
    margin-right: 2px;
    border-radius: 5px;
    margin-left: 5px;
    color: black;
    background-color: rgb(215, 213, 213);
}
a[class="buttonA"]:hover{
    border-radius: 5px;
    background-color: bisque;
 }
div[class="navbar"]{
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    background-color: gray;
    display: inline-block;
}
div[class="products"]{display: inline-block;}
div[class~="product"]  > center > img{
    height: fit-content;
    width: fit-content;
}
div[class~="product"]  > center > img[class="SpecialRose"]{
    height: 170px;
    width: 190px;
}
div[class~="product"]  > center > img[class="SpecialBoss"]{
    height: 180px;
    width: 140px;
    margin-top: -13px
}
div[class~="product"]  > center > img[class="SpecialDia"]{
    margin-top: 15px;
    margin-bottom: 20px;
    height: 120px;
    width: 200px;
}

div[class~="product"]{
    background-color: rgb(157, 157, 157);
    border-radius: 5px;
    height:245px;
    width: 200px;
    margin-left: 7px;
    margin-top: 5px;
    display: inline-block;
}
div[class~="product"] > center >  h3,h4{
 color: white;
 margin-top: -5px;
 font-family: monospace;
 margin-bottom: 5%
}
div[class~="product"] > center > button[class="buybttn"]{
    border-radius: 5px;
    border: none;
    font-family: monospace;
    margin-right: 5px;
    margin-bottom: 8px;
   background-color: rgb(153, 247, 153);
}
div[class~="product"] > center > button[class="buybttn"]:hover{background-color: rgb(219, 250, 219);}
.no {border: none;}
div[class~="product"] > center > img[class="SpecialBossS"]{
    margin-bottom: 15px;
    height: 140px;
    width: 190px;
}
div[class~='product'] > center > img[class="SpecialRoseP"]{
    height: 110px;
    width: 170px;
    margin-bottom: 10px;
}
div[class~="product"] > center >  h3[class="rp"]{
    color: white;
    margin-top: 5px;
    font-family: monospace;
    margin-bottom: 5%
   }
   video[class="ep"]{
    position: relative;
    width: 100%;
    top: 0;
    height: auto;
    max-height: 650px;
    max-width: 750px;
}
div[class~="product"] > center > img[class="moth"]{
 margin-top: 4px;
}

